@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;

@model IEnumerable<AdvancedProgramming_Lesson2.Models.Schedule>
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h1>@SharedLocalizer["Schedule"]</h1>

<p>
    <a asp-action="Create" style="margin-top:20px; margin-bottom:20px" class="btn btn-primary">@SharedLocalizer["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartSubjectDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndSubjectDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartSubjectDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndSubjectDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>